[submodule "AVTrack_ModelDeploy"]
	path = AVTrack_ModelDeploy
	url = https://github.com/YeWenxuan64/AVTrack_ModelDeploy.git
[submodule "RetinaFace-mobile_ModelDeploy"]
	path = RetinaFace-mobile_ModelDeploy
	url = https://github.com/YeWenxuan64/RetinaFace-mobile_ModelDeploy
[submodule "NanoTrackV3_ModelDeploy"]
	path = NanoTrackV3_ModelDeploy
	url = https://github.com/YeWenxuan64/NanoTrackV3_ModelDeploy.git
[submodule "MSI-Net_ModelDeploy"]
	path = MSI-Net_ModelDeploy
	url = https://github.com/YeWenxuan64/MSI-Net_ModelDeploy.git
[submodule "Yolo11_ModelDeploy"]
	path = Yolo11_ModelDeploy
	url = https://github.com/YeWenxuan64/Yolo11_ModelDeploy.git
