/.vscode
__pycache__/*

/datasets/original/
/legacy/*

#/Edge_Inferencer/*


# /Yolo11_ModelDeploy/models_convert/original/ultralytics_yolo11
# /Yolo26_ModelDeploy/models_convert/original/ultralytics



/utilities/qairt
/utilities/tmp

*.pyc
*.zip
*.tar
*.bin
*.rknn
# *.onnx
*.pt
*.ts
# *.mp4