/.vscode
__pycache__/*


/datasets/original/
/legacy/*

/*/models_convert/*/*.onnx
/MSI-net/models_convert/original/save_model/*

/utilities/qairt
/utilities/tmp

*.pyc
*.zip
*.tar
*.bin
*.rknn
# *.onnx
*.pt
*.ts
# *.mp4