# >=python3.10
#--index-url https://download.pytorch.org/whl/cpu

# base deps
protobuf<=4.25.4 #,>=4.21.6
easydict
pyyaml
yacs

# utils
psutil>=5.9.0
ruamel.yaml>=0.17.21
tqdm>=4.64.1
fast-histogram>=0.11

matplotlib
opencv-python
numpy<2.0
scipy

#ai_edge_litert

# AIs
tensorflow-cpu==2.16.0rc0 #tensorflow==2.14.0
tf-keras==2.16.0rc0
onnxruntime==1.20
onnx==1.17.0
onnxslim
tf2onnx
torch==2.4.0
torchvision
ml_dtypes>0.3.1



